.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #080202;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 80px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    /* padding: 10px; */
    cursor: pointer;
    transition: background-color 0.3s;
}
.sidebar li p{
    background-color: #f36523;
    border-radius: 34px;
    padding: 10px;
}

.sidebar li p:hover {
    background-color: #ff5100;
}
