.sidebar {
    /* position: relative; */
    width: 200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* top: 40px; */
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

/* Responsive Sidebar */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}